Flask==3.1.0
flask_sqlalchemy==3.1.1
flask_wtf==1.2.2
injector==0.22.0
pytest==8.3.5
python-dotenv==1.1.0
SQLAlchemy==2.0.40
WTForms==3.2.1

doctran==0.0.14

openai>=0.27.8,<0.28.0
pydantic>=1.10.9,<2.0.0
tiktoken>=0.5.0,<0.6.0

langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-openai==0.3.17
